<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Dentist-Office</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Dentist Clinic</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/about">About us</a>
        <a class="p-2 text-dark" href="/support">Support</a>
      </nav>
      <a class="btn btn-outline-primary" href="/access">Sign up</a>
        <a class="p-2 text-dark" ></a>
        <a class="btn btn-outline-primary" href="/access">Login in</a>

    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Dentist analyses</h1>
    <p class="lead font-weight-normal">You should pay more attention for you teeth</p>
    <a class="btn btn-outline-secondary" href="/about">Visit us in november </a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<footer class="container  pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/about">Cool stuff</a></li>
          <li><a class="text-muted" href="/about">Random feature</a></li>
          <li><a class="text-muted" href="/about">Team feature</a></li>
          <li><a class="text-muted" href="/about">Stuff for developers</a></li>
          <li><a class="text-muted" href="/about">Another one</a></li>
          <li><a class="text-muted" href="/about">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/support">Resource</a></li>
          <li><a class="text-muted" href="/support">Resource name</a></li>
          <li><a class="text-muted" href="/support">Another resource</a></li>
          <li><a class="text-muted" href="/support">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/support">Team</a></li>
          <li><a class="text-muted" href="/support">Locations</a></li>
          <li><a class="text-muted" href="/support">Privacy</a></li>
          <li><a class="text-muted" href="/support">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>


</body>
</html>